@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('./active-states.css');
:root{
    /*PRIMARY COLORS*/
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    /* NEUTRAL COLORS */
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --pale-orange: hsl(33, 100%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "DM Sans" ,sans-serif;
    font-size: 16px;
    background-color: var(--cream);

    height: 100vh;
    margin-left: 1em; margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 1.3em;
    border-radius: .6em;
}

#balance {
    background-color: var(--soft-red);
    color: var(--cream);
    margin-bottom: 1em;
    font-size: 1em;

    display: flex;
    justify-content: space-between;
}

#dashboard {
    background-color: var(--pale-orange);
    color: var(--medium-brown);
}

.number {
    display: block;
    font-weight: 700;
}

#balance .number {
    font-size: 1.5em;
    margin-top: .2em;
}

#dashboard .title {
    color: var(--dark-brown);
    margin-bottom: 1.5em;
    font-size: 1.5em
}

#chart {
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-bottom: 2px solid var(--cream);
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}

.d-week {
    list-style: none;
    font-size: .8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.8em;
    margin: .3em
}

#perf-report {
    display: flex;
    justify-content: space-between;
}

#perf-report .number {
    color: var(--dark-brown);
}

#total-month .number {
    font-size: 2em;
}

#last-month {
    align-self: end;
}

#last-month .number {
    text-align: right;
}

.attribution {
    color: var(--dark-brown);
    font-size: .7em;

    text-align: center;
    margin-top: 2em;
}

.attribution a {
    color: var(--soft-red);
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}

.bar {
    border-radius: .3em;
    background-color: var(--soft-red);
    width: 2.8em;
    margin-bottom: 1em;
}

.bar.today {
    background-color: var(--cyan);
}

@media screen and (min-width: 500px) {
    body {
        font-size: 18px;
    }

    .container {
        padding: 1.5em;
        border-radius: .9em;
    }

    #dashboard {
        padding: auto 2em 2em;
    }

    .d-week {
        padding: 0 .5em;
    }

    #last-month {
        padding-bottom: .2em;
    }
}